*,*::before,*::after{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: 'CircularSp';
    src: url('https://encore.scdn.co/fonts/CircularSp-Book-4eaffdf96f4c6f984686e93d5d9cb325.woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'CircularSp';
    src: url('https://encore.scdn.co/fonts/CircularSp-Bold-fe1cfc14b7498b187c78fa72fb72d148.woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'CircularSpTitle';
    src: url('https://encore.scdn.co/fonts/CircularSpTitle-Bold-2fbf72b606d7f0b0f771ea4956a8b4d6.woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'CircularSpTitle';
    src: url('https://encore.scdn.co/fonts/CircularSpTitle-Black-3f9afb402080d53345ca1850226ca724.woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'spoticon';
    src: url('https://open.spotifycdn.com/cdn/fonts/spoticon_regular_2.d728648c.woff2');
    font-weight: normal;
    font-style: normal;
  }
.container{
    height:100%;
    width:100%;
    background-color:black;
}
body{
    background-color: black;
}
.left{
    width: 27.5%;
    height: 100%;
}
.left-nav-container{
    background-color:#121212 ;
    width: 100%;
    height: 112px;
    border-radius: 12px;
    margin: 8px;
    padding-left:23px;
    padding-top: 12px;
}
.left-nav-list{
    font-family: CircularSp;
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 15px;
    list-style: none;
    
    
}
.left-nav{
    text-decoration: none;
    color:#b2b2b2;

}
.left-nav:hover{
  color: white;
  cursor: pointer;
}
.nav-img:first-of-type{
    width: 26px;
    height: 28px;
    margin-right: 18px;
    position: relative;
    top: 8px; 
}
.nav-img:last-of-type{
    width: 26px;
    height: 26px;
    margin-right: 18px;
    position: relative;
    top: 8px; 

}
.library{
  background-color:#121212 ;
  width: 100%;
  height: 285px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin: 8px;
  margin-block-end: 0px;
  padding-inline:2%;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: #5A5A5A;
  scrollbar-width: thin;

}
.create-playlist{
  width: 100%;
  height:40%;
  background-color: #242424;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-inline:20px;
  padding-block-start: 8px;
  padding-block-end: 5px;

}
.lib-head{
  color: #b2b2b2;
  font-family:CircularSp ;
  display: flex;
  padding-top: 12px;
  padding-inline: 12px;
  justify-content: space-between;
  background-color:#121212;
  width: 100%;
  height: 20%;
  position: sticky;
  top: 0;
  box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.443);
  z-index: 1;
}
.lib-head:hover{
  color: white;
}
.lib-icon{
  width: 30px;
  height: 30px;
}
.lib-name{
  position: relative;
  top: -8px;
  cursor: pointer;
}
.add-icon{
  height: 23px;
  width: 23px;
  position: relative;
  top: 7px;
}
.lib-playlist-des:first-of-type{
  color: white;
  font-family: CircularSp;
}
.lib-playlist-des:last-of-type{
  color:#FAFAFA;
  font-family: CircularSp;
  font-size:13.5px;
  
}
.browse-podcast-des:first-of-type{
  color: white;
  font-family: CircularSp;
}
.browse-podcast-des:last-of-type{
  color:#FAFAFA;
  font-family: CircularSp;
  font-size:13.5px;
}

.playlist-btn{
  background-color: white;
  width:130px;
  height: 35px;
  border-radius: 18px;
  font-family: CircularSp;
  font-weight: bolder;
  font-size: 14px;
  cursor: pointer;
}
.podcast-btn{
  background-color: white;
  width: 145px;
  height: 35px;
  border-radius: 18px;
  font-family: CircularSp;
  font-weight: bolder;
  font-size: 14px;
  cursor: pointer;
}
.playlist-btn:hover{
  transform: scale(1.05);
  transition: all 0.0s ease-in-out;
}
.podcast-btn:hover{
  transform: scale(1.05);
  transition: all 0.0s ease-in-out;
}

.box2{
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.browse-podcasts{
  width: 100%;
  height:40%;
  background-color:#242424;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-inline:20px;
  /* margin-block: 8px; */
}
.library::-webkit-scrollbar{
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.library::-webkit-scrollbar-thumb{
  height: 30px;
}
.library:hover{
&::-webkit-scrollbar-thumb{
  background-color:#5A5A5A;
  visibility: visible;
}
}
.library::-webkit-scrollbar-track{
  margin-top: 70px;
}
.right:hover{
  &::-webkit-scrollbar-thumb{
    background-color:#5A5A5A;
    visibility: visible;
  }
}
.right::-webkit-scrollbar{
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.image{
  width: 100%;
  height: 500px;
}
.container{
  display: flex;
}
.right-nav-container{
  background-color:#101010;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  padding-inline: 25px;
  align-items: center;
  border-radius: 12px;
}
.right{
  margin-inline-start:18px;
  margin-inline-end: 8px;
  margin-block: 8px;
  border-radius: 12px;
  background-color: #101010;
  width: 1150px;
  height: 97.7vh;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: #5A5A5A;
  scrollbar-width: thin;
}
.l-nav{
  width: 30x;
  height: 30px;
  cursor: pointer;
}
.r-nav{
  width: 30x;
  height: 30px;
  cursor: pointer;
}
.nav{
  display: flex;
  column-gap: 8px;
}
.left-footer{
  background-color: #121212;
  height: 290px;
  width: 100%;
  margin-inline: 8px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding-top: 34px;
  padding-left: 18px;
  
}
.left-footer-list > li{
  display:inline-block;
  color:#b2b2b2;
  font-family: Arial;
  font-size: 10.5px;
  margin-inline: 7px;
}
.left-footer-list > li:hover{
  cursor: pointer;
}
.button {
  border: 1px solid #000;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  color: white;
  font-family: CircularSp ;
  text-align: center;
  border-color: rgb(109, 106, 106);
  margin-left: 7px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;

}

.button:hover {
  border-color: #fff;
  transform: scale(1.05);
  transition: all 0.0s ease-in-out;
}
.lang{
  height: 20px;
  width: 20px;
  position: relative;
  top: 3px;
  align-items: center;
}
.nav-list{
  display: flex;
  color:#b2b2b2;
  font-family:CircularSp;
  list-style: none;
  column-gap: 10px;
  letter-spacing: 1.8px;
  align-items: center;
  
}
.list:hover{
  color: white;
  cursor: pointer;
}
.bar{
  margin-inline-start: 13px;
  margin-inline-end: 20px;

  
}
.list-bar{
  width: 4px;
  height: 28px;
  position: relative;
  top: 3px;

}
.login-btn{
  color: black;
  font-family:  circularSp;
  width: 110px;
  height: 50px;
  border-radius: 40px;
  font-size: medium;
  margin-inline-start: 20px;
  margin-inline-end: 5px;
}
.login-btn:hover{
  transform: scale(1.05);
  transition: all 0.0s ease-in-out;
  cursor: pointer;
}
.nav-list-container{
  display: flex;
  align-items: center;
}
.signup{
  letter-spacing: normal;
}
.content-focus{
  height: 350px;
  width: 100%;
  background: rgb(31,31,31);
  background: linear-gradient(180deg, rgba(31,31,31,1) 3%, rgba(30,30,30,1) 6%, rgba(29,29,29,1) 9%, rgba(28,28,28,1) 12%, rgba(27,27,27,1) 15%, rgba(26,26,26,1) 18%, rgba(25,25,25,1) 21%, rgba(24,24,24,1) 24%, rgba(23,23,23,1) 27%, rgba(22,22,22,1) 30%, rgba(21,21,21,1) 33%, rgba(20,20,20,1) 36%, rgba(19,19,19,1) 40%, rgba(18,18,18,1) 43%, rgba(17,17,17,1) 46%, rgba(16,16,16,1) 49%, rgba(16,16,16,1) 100%);

}
.focus-label{
  width: 100%;
  height: 35px;
  display: flex;
  font-family: circularSp;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding-inline: 24px;
}
.show-all{
  color: #b2b2b2;
  font-size: 15px;
  cursor: pointer;
}
.show-all:hover{
  text-decoration: underline;
}
.focus-box{
  display: flex;
  width: 100%;
  height: 84%;
  justify-content: space-around;
  padding-inline: 15px;
  padding-block: 15px;

}
.box{
  width: 195px;
  height: 278px;
  background-color: #171717;
  padding-inline: 15px;
  padding-block: 15px;
  border-radius: 8px;
}
.play-btn{
  position: absolute;
  width: 52px;
  height: 52px;
  bottom: 8px;
  right: 8px;
  opacity: 0;
  transform: translateY(10px);
  filter: brightness(100%);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out,filter 0.2s ease-in-out;
}
.box:hover{
  cursor: pointer;
  background-color: #282828;
  .play-btn{
    opacity: 1;
    transform: translateY(0);
  }
  .play-btn:hover{
    transform: scale(1.1);
    transition: transform 0.0s ease-in-out;
    filter: brightness(107%);
    
  }

}
.box-img{
  height: 65%;
  border-radius: 4px;
  position: relative;
  
}
.thumbnail{
  width: 100%;
  height: 100%;
  border-radius: 4px
}
.box-p-head{
  color: white;
  font-family: CircularSp;
}
.box-p-content{
  color: #A7A7A7;
  font-family: arial;
  font-size: 13.5px;
  font-weight:558;
}
.box-p{
  display: flex;
  flex-direction: column;
  justify-items: space-around;
  row-gap: 8px;
  margin-block-start: 15px;
}
.right-nav-container{
  position: sticky;
  top: 0;
  z-index: 1;
}
.button{
  position: relative;
  top: 16px;
}
.right-footer{
  background-color: #101010;
  height: 350px;
  width: 100%;
  padding-block: 75px;
  display: flex;
  padding-inline-start: 30px;
  flex-wrap: wrap;
  
}
.right-footer-content{
  display: flex;
  flex-direction: column;
  font-family: circularsp;
  row-gap: 12px;
  
}
.right-footer-head{
  color: white;
}
.right-footer-titles{
  color: #A7A7A7;
  font-weight:5;
}
.right-footer-titles:hover{
  text-decoration: underline;
  cursor: pointer;
  color: white;
}
.right-footer-section{
  display: flex;
  flex-wrap: wrap;
  column-gap: 106px;
  
}
.right-footer-section-2{
  display: flex;
  justify-content: flex-end;
  column-gap: 15px;
}
.round-icon{
  width: 40px;
  height: 40px;
  background-color:#242424;
  border-radius: 100%;
  padding: 12px;
  cursor: pointer;
}
.round-icon:hover{
  background-color: #727272;
}
.right-footer{
  display: flex;
  justify-content: space-between;
}
.footer-icon{
  width: 15px;
  height: 15px;
}
.right-footer-sub{
  width: 100%;
  height: 200px;
  padding-inline: 30px;
}
hr{
  width: 100%;
  border-color:#404040;
  border-width:0.25px;
}
.last-title{
  color:#A7A7A7;
  font-family: circularsp;
  font-size: 14px;
  margin-block-start: 40px;
}
.last-title::before{
    content: '\00A9';
    font-size: 15px;
    font-weight: lighter;

}
@media only screen and (max-width: 1300px) {
  .box:nth-child(5) {
    display: none;
  }
}
@media only screen and (max-width: 1000px) {
  .box:nth-child(4) {
    display: none;
  }
}
@media only screen and (max-width: 850px) {
  .box:nth-child(3) {
    display: none;
  }
}
@media only screen and (max-width: 650px) {
  .box:nth-child(2) {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .left {
    width: 218px;
  }
}









